Fabric==1.6.0
Flask==0.9
Flask-Assets==0.8
Flask-Compass==0.2
Flask-FlatPages==0.3
Frozen-Flask==0.9
Jinja2==2.6
Markdown==2.2.1
Pillow==8.3.2
PyYAML==3.10
Pygments==1.6
Werkzeug==0.8.3
argparse==1.2.1
flickrapi==1.4.4
html5lib==0.999999999
ipdb==0.7
ipython==0.13.1
lxml
markdown2==2.1.0
paramiko==1.10.0
pycrypto==2.6
pyjade==4.0.0
python-dateutil==2.1
requests==1.1.0
six==1.10.0
webassets==0.8
wsgiref==0.1.2
awscli
