// ---------------------------------------------------------------------------
// Imports

@import "compass/reset"
@import "compass/css3"
@import "compass/utilities"
@import "skel_base"
@import "skel_layout"
@import "skel"
/*config*/
$legacy-support-for-ie6         : false
$legacy-support-for-ie7         : false !default
$legacy-support-for-ie8         : false !default
$ie                             : false !default


/* -------------------------------------------------------------------------*/
/* Layout */

header, footer
  clear: both

a
  text-decoration: none
.topwrap
  display: block
nav
  a
    display: inline

article
  width: 50%
