// ---------------------------------------------------------------------------
// Imports

@import "base"
@import "compass/reset"
@import "compass/css3"
@import "compass/css3/box-sizing"
@import "compass/utilities"
@import "compass/typography/vertical_rhythm"
@import "compass/utilities/general/float"
@import "sassy-buttons"
@import "image2x"
/*config*/
$cyan-clouds: rgb(115,200,169)
$morning-light: rgb(222,225,182)
$soft-orange: rgb(225,184,102)
$orange-clouds: rgb(189,85,50)
$low-light: rgb(55,59,68)
$spooky: ghostwhite

$ie: false


@mixin pill
  +sassy-button("flat", 15px, 0.5rem, $low-light, $morning-light, $auto-states: false)
  cursor: default

@mixin status($fg,$bg)
  +sassy-button("flat", 15px, 0.5rem, $bg, $fg, $auto-states: false)
  cursor: default

/* -------------------------------------------------------------------------*/
/* Layout */

@include border-box-sizing
html
  font-size: 125%
  line-height: 150%
  font-family: 'Garamond', 'Georgia', serif
  color: $low-light
  +background-image(linear-gradient(top, $spooky 0%, transparent 100%))
  background-attachment: fixed

h1
  font-size: 2.713rem

h2
  font-size: 2.25rem

h3
  font-size: 1.875rem
h4
  font-size: 1.5rem
h5
  font-size: 1.25rem

h1,h2,h3,h4,h5
  line-height: 125%
  margin-bottom: 1.25rem

em
  font-style: italic

code
  font-family: 'Consolas', 'Ubuntu Mono', monospace
  background-color: lighten($low-light, 75%)

#main
  +container($total-columns, $break)
  //@include susy-grid-background
  //+debug-vertical-alignment
  //+establish-baseline
a
  text-decoration: none
  color: darken($orange-clouds, 20%)
  &:hover
    color: lighten($orange-clouds, 45%)
    background-color: darken($soft-orange, 35%)
  &:visited
    color: darken($soft-orange, 25%)
    &:hover
      color: white
  &:active
    color: darken($soft-orange, 35%)
hr
  clear: both
  border: 0
  height: 2px
  background-color: $low-light
  /*   +background-image(linear-gradient(left, transparent 2%, $cyan-clouds 40%, $morning-light 50%, $soft-orange 60%, $orange-clouds 70%, $low-light 95%, transparent 100%))
  width: 95%

pre > code
  line-height: 1
  font-family: 'Consolas', 'Ubuntu Mono', monospace
  font-size: 0.75rem
  display: block
  background-color: lighten($low-light, 75%)
  margin-bottom: 1.5rem


.lime
  +image-2x('/static/images/lime','png', 33px, 30px)
  width: 33px
  height: 30px
  display: block
  margin: 0 auto

#main
  > header
    clear: both
    vertical-align: baseline
    > a
      float: left
      color: $low-light
      background-color: transparent
      &:hover, &:hover:visited
        background-color: transparent
    nav
      +omega
      float: right
      color: transparent
      line-height: 0
      +at-breakpoint($break)
        color: inherit
      > a
        font-style: italic
        padding-left: 0.5rem
        display: list-item
        list-style-type: none
        line-height: 1.5rem
        +at-breakpoint($break)
          display: inline

  footer
    font-size: 0.875rem
    margin-bottom: 1rem
    color: lighten($low-light, 20%)

article
  &.photo
    +reset-columns
    position: fixed
    top: auto
    left: 0
    min-height: 100%
    min-width: 100%
    -webkit-background-size: contain
    -moz-background-size: contain
    -o-background-size: contain
    background-size: contain


    > img
      width: 100%
      height: 100%
  > header
    +clearfix
    > h1.title
      +float-left
    > time.pubdate
      //+pill
      color: lighten($low-light, 55%)
      +float-right

li.index
  list-style: none
  +at-breakpoint($break)
    list-style: none
  clear: both
  time.pubdate
    +omega


li
  list-style: circle

li ul > li
  list-style: square
  margin-left: 1rem

p + ul
  margin-bottom: 0.5rem

article
  > header
    display: block
    > h1
      &::after
        content: ' →'

.intro
  padding: 1rem 0 1rem 0
  overflow: visible
  clear: both
  .avatar
    +span-columns(6)
    +at-breakpoint($break)
      +span-columns(6)
    img
      width: 100%
      +at-breakpoint($break)
        width: 250px
      border-radius: 50%
      box-shadow: 2px 2px 12px 5px rgba(199, 199, 201, 1)
      -webkit-box-shadow: 2px 2px 12px 5px rgba(199, 199, 201, 1)
      -moz-box-shadow: 2px 2px 12px 5px rgba(199, 199, 201, 1)
  h1.title
    +span-columns(6)
    +at-breakpoint($break)
      +span-columns($total-columns - 6)
      +omega
  .bio
    clear: both

.milestones
  .milestone
    a
      h3
        &:hover
          color: $orange-clouds
    margin-bottom: 2rem
    border-radius: 15px
    border-color: rgba(199, 199, 201, 0.2)
    border-style: solid
    border-width: 2px
    padding: 5px
    .wrap
      +at-breakpoint($break)
        display: table
        .markdown
          display: table-cell
          vertical-align: middle

      +clearfix
      img
        border-radius: 15px
        float: left
        margin:  1rem
        max-width: none
  h1,h2,h3,h4,h5,h6
    margin-bottom: 0.25rem
    color: lighten($low-light, 10%)
    line-height: 100%
    a
      font-size: 1rem
  .subtitle
    color: lighten($low-light, 30%)
    text-align: right
  p.status
    text-align: right
    font-variant-caps: all-small-caps
    font-size: 0.25em

blockquote
  border-left: 4px solid #ddd
  padding-left: 11px
  color: #555
  margin: 14px 0

p
  margin: 0 0 1rem

strong
  font-weight: bold

img, object, video
  max-width: 100%

article.flatpage
  img
    margin-left: auto
    margin-right: auto
    display: block
  iframe.youtube
    margin-left: auto
    margin-right: auto
    display: block

.cv .row .row-item
  display: inline-block
  &:last-child
    text-align: right
    float: right
    +clearfix

table
  text-shadow: 1px 1px 0px #fff
  width: 100%
  background: #eaebec
  margin: 20px
  border: #ccc 1px solid
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  -moz-box-shadow: 0 1px 2px #d1d1d1
  -webkit-box-shadow: 0 1px 2px #d1d1d1
  box-shadow: 0 1px 2px #d1d1d1
  th
    padding: 21px 25px 22px 25px
    border-top: 1px solid #fafafa
    border-bottom: 1px solid #e0e0e0
    background: #ededed
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb))
    background: -moz-linear-gradient(top, #ededed, #ebebeb)
    &:first-child
      text-align: left
      padding-left: 20px
  tr
    &:first-child th
      &:first-child
        -moz-border-radius-topleft: 3px
        -webkit-border-top-left-radius: 3px
        border-top-left-radius: 3px
      &:last-child
        -moz-border-radius-topright: 3px
        -webkit-border-top-right-radius: 3px
        border-top-right-radius: 3px
    text-align: center
    padding-left: 20px
  td
    &:first-child
      text-align: left
      padding-left: 20px
      border-left: 0
    padding: 1rem
    border-top: 1px solid #ffffff
    border-bottom: 1px solid #e0e0e0
    border-left: 1px solid #e0e0e0
    background: #fafafa
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa))
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa)
  tr
    &.even td
      background: #f6f6f6
      background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6))
      background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6)
    &:last-child td
      border-bottom: 0
      &:first-child
        -moz-border-radius-bottomleft: 3px
        -webkit-border-bottom-left-radius: 3px
        border-bottom-left-radius: 3px
      &:last-child
        -moz-border-radius-bottomright: 3px
        -webkit-border-bottom-right-radius: 3px
        border-bottom-right-radius: 3px
    &:hover td
      background: #f2f2f2
      background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0))
      background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0)

#photo_index
  text-align: center
  display: table

figure.photo_index
  display: table-cell
  +span-columns($total-columns)
  +at-breakpoint($break)
    +span-columns(3)
    &:nth-child(4n)
      +omega
