/*
* SCSSkeleton v1.2
* Written by Ryan Kelley
* 8/8/2012
* 
* Derived From:
* 
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/*
* SCSSkeleton v1.2
* Written by Ryan Kelley
* 8/8/2012
* 
* Derived From:
* 
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */
/*
* SCSSkeleton v1.2
* Written by Ryan Kelley
* 8/8/2012
* 
* Derived From:
* 
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Grid Mixins
    #Configuration Variables
    #Media Queries
    #Clearing */
/* #Grid Mixins
================================================== */
/* Standard Grid with Variable-Width Columns */
/* Grid with Fixed-Width Columns for Small Screens */
/* #Configuration Variables
================================================== */
/**
 * Use these variables to define the width breakpoints and column, gutter, and container sizes for the existing grid rulesets.
 * The default values are identical to the queries used in the base version of Skeleton.
 *
 * @param sk_smurf                    min screen width for smurf ruleset
 * @param smurf_max         optional  max screen width for smurf ruleset
 * @param smurf_container             container width for smurf ruleset, should be equal to column * 16 + gutter * 16
 * @param smurf_column      optional  column width for smurf ruleset (if unset, must use phone-grid in _skeleton.scss)
 * @param smurf_gutter      optional  gutter width for smurf ruleset (if unset, must use phone-grid in _skeleton.scss)
 * 
 * @mixin media-smurf                 used when calling smurf ruleset with a media query, usage @include media-smurf { css }
 * 
 */
/* Base Grid  */
/* Portrait Tablet Grid */
/* Landscape Phone Grid */
/* Portrait Phone Grid */
/* Additional Media Query Shorthand Variables */
/* Optional Wide Grid
 *
 * Included as an example of how you can easily expand upon the existing rulesets through this mixin-based model.
 * Uncomment these variables and the Wide grid query on lines 171-176 to use.
 * 
 * @param sk_wide_maxwidth            max width the container will expand to
 */
/* #Media Queries
================================================== */
/* line 150, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.container {
  width: 960px;
  /* Optional Wide-Width Grid */
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 150, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 150, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .container {
    width: 420px;
  }
}
@media screen and (max-width: 479px) {
  /* line 150, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .container {
    width: 300px;
  }
}

/* line 168, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column, .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  /* Optional Wide-Width Grid */
}
/* line 171, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}
/* line 172, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}
/* line 34, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.one, .columns.one {
  width: 40px;
}
/* line 35, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.two, .columns.two {
  width: 100px;
}
/* line 36, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.three, .columns.three {
  width: 160px;
}
/* line 37, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.four, .columns.four {
  width: 220px;
}
/* line 38, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.five, .columns.five {
  width: 280px;
}
/* line 39, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.six, .columns.six {
  width: 340px;
}
/* line 40, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.seven, .columns.seven {
  width: 400px;
}
/* line 41, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.eight, .columns.eight {
  width: 460px;
}
/* line 42, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.nine, .columns.nine {
  width: 520px;
}
/* line 43, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.ten, .columns.ten {
  width: 580px;
}
/* line 44, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.eleven, .columns.eleven {
  width: 640px;
}
/* line 45, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.twelve, .columns.twelve {
  width: 700px;
}
/* line 46, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.thirteen, .columns.thirteen {
  width: 760px;
}
/* line 47, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.fourteen, .columns.fourteen {
  width: 820px;
}
/* line 48, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.fifteen, .columns.fifteen {
  width: 880px;
}
/* line 49, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.sixteen, .columns.sixteen {
  width: 940px;
}
/* line 51, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.one-third, .columns.one-third {
  width: 300px;
}
/* line 52, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.two-thirds, .columns.two-thirds {
  width: 620px;
}
/* line 54, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-one, .columns.offset-by-one {
  padding-left: 60px;
}
/* line 55, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-two, .columns.offset-by-two {
  padding-left: 120px;
}
/* line 56, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-three, .columns.offset-by-three {
  padding-left: 180px;
}
/* line 57, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-four, .columns.offset-by-four {
  padding-left: 240px;
}
/* line 58, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-five, .columns.offset-by-five {
  padding-left: 300px;
}
/* line 59, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-six, .columns.offset-by-six {
  padding-left: 360px;
}
/* line 60, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-seven, .columns.offset-by-seven {
  padding-left: 420px;
}
/* line 61, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-eight, .columns.offset-by-eight {
  padding-left: 480px;
}
/* line 62, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-nine, .columns.offset-by-nine {
  padding-left: 540px;
}
/* line 63, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-ten, .columns.offset-by-ten {
  padding-left: 600px;
}
/* line 64, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-eleven, .columns.offset-by-eleven {
  padding-left: 660px;
}
/* line 65, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-twelve, .columns.offset-by-twelve {
  padding-left: 720px;
}
/* line 66, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-thirteen, .columns.offset-by-thirteen {
  padding-left: 780px;
}
/* line 67, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-fourteen, .columns.offset-by-fourteen {
  padding-left: 840px;
}
/* line 68, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.column.offset-by-fifteen, .columns.offset-by-fifteen {
  padding-left: 900px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 168, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column, .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 34, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.one, .columns.one {
    width: 28px;
  }
  /* line 35, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.two, .columns.two {
    width: 76px;
  }
  /* line 36, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.three, .columns.three {
    width: 124px;
  }
  /* line 37, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.four, .columns.four {
    width: 172px;
  }
  /* line 38, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.five, .columns.five {
    width: 220px;
  }
  /* line 39, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.six, .columns.six {
    width: 268px;
  }
  /* line 40, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.seven, .columns.seven {
    width: 316px;
  }
  /* line 41, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.eight, .columns.eight {
    width: 364px;
  }
  /* line 42, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.nine, .columns.nine {
    width: 412px;
  }
  /* line 43, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.ten, .columns.ten {
    width: 460px;
  }
  /* line 44, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.eleven, .columns.eleven {
    width: 508px;
  }
  /* line 45, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.twelve, .columns.twelve {
    width: 556px;
  }
  /* line 46, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.thirteen, .columns.thirteen {
    width: 604px;
  }
  /* line 47, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.fourteen, .columns.fourteen {
    width: 652px;
  }
  /* line 48, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.fifteen, .columns.fifteen {
    width: 700px;
  }
  /* line 49, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.sixteen, .columns.sixteen {
    width: 748px;
  }
  /* line 51, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.one-third, .columns.one-third {
    width: 236px;
  }
  /* line 52, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.two-thirds, .columns.two-thirds {
    width: 492px;
  }
  /* line 54, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-one, .columns.offset-by-one {
    padding-left: 48px;
  }
  /* line 55, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-two, .columns.offset-by-two {
    padding-left: 96px;
  }
  /* line 56, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-three, .columns.offset-by-three {
    padding-left: 144px;
  }
  /* line 57, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-four, .columns.offset-by-four {
    padding-left: 192px;
  }
  /* line 58, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-five, .columns.offset-by-five {
    padding-left: 240px;
  }
  /* line 59, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-six, .columns.offset-by-six {
    padding-left: 288px;
  }
  /* line 60, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-seven, .columns.offset-by-seven {
    padding-left: 336px;
  }
  /* line 61, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-eight, .columns.offset-by-eight {
    padding-left: 384px;
  }
  /* line 62, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-nine, .columns.offset-by-nine {
    padding-left: 432px;
  }
  /* line 63, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-ten, .columns.offset-by-ten {
    padding-left: 480px;
  }
  /* line 64, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-eleven, .columns.offset-by-eleven {
    padding-left: 528px;
  }
  /* line 65, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-twelve, .columns.offset-by-twelve {
    padding-left: 576px;
  }
  /* line 66, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-thirteen, .columns.offset-by-thirteen {
    padding-left: 624px;
  }
  /* line 67, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-fourteen, .columns.offset-by-fourteen {
    padding-left: 672px;
  }
  /* line 68, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-fifteen, .columns.offset-by-fifteen {
    padding-left: 720px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 168, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column, .columns {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 77, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.one, .column.two, .column.three, .column.four, .column.five, .column.six, .column.seven, .column.eight, .column.nine, .column.ten, .column.eleven, .column.twelve, .column.thirteen, .column.fourteen, .column.fifteen, .column.sixteen, .column.one-third, .column.two-thirds, .columns.one, .columns.two, .columns.three, .columns.four, .columns.five, .columns.six, .columns.seven, .columns.eight, .columns.nine, .columns.ten, .columns.eleven, .columns.twelve, .columns.thirteen, .columns.fourteen, .columns.fifteen, .columns.sixteen, .columns.one-third, .columns.two-thirds {
    width: 420px;
  }
  /* line 82, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-one, .column.offset-by-two, .column.offset-by-three, .column.offset-by-four, .column.offset-by-five, .column.offset-by-six, .column.offset-by-seven, .column.offset-by-eight, .column.offset-by-nine, .column.offset-by-ten, .column.offset-by-eleven, .column.offset-by-twelve, .column.offset-by-thirteen, .column.offset-by-fourteen, .column.offset-by-fifteen, .columns.offset-by-one, .columns.offset-by-two, .columns.offset-by-three, .columns.offset-by-four, .columns.offset-by-five, .columns.offset-by-six, .columns.offset-by-seven, .columns.offset-by-eight, .columns.offset-by-nine, .columns.offset-by-ten, .columns.offset-by-eleven, .columns.offset-by-twelve, .columns.offset-by-thirteen, .columns.offset-by-fourteen, .columns.offset-by-fifteen {
    padding-left: 0;
  }
}
@media screen and (max-width: 479px) {
  /* line 168, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column, .columns {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 77, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.one, .column.two, .column.three, .column.four, .column.five, .column.six, .column.seven, .column.eight, .column.nine, .column.ten, .column.eleven, .column.twelve, .column.thirteen, .column.fourteen, .column.fifteen, .column.sixteen, .column.one-third, .column.two-thirds, .columns.one, .columns.two, .columns.three, .columns.four, .columns.five, .columns.six, .columns.seven, .columns.eight, .columns.nine, .columns.ten, .columns.eleven, .columns.twelve, .columns.thirteen, .columns.fourteen, .columns.fifteen, .columns.sixteen, .columns.one-third, .columns.two-thirds {
    width: 300px;
  }
  /* line 82, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
  .column.offset-by-one, .column.offset-by-two, .column.offset-by-three, .column.offset-by-four, .column.offset-by-five, .column.offset-by-six, .column.offset-by-seven, .column.offset-by-eight, .column.offset-by-nine, .column.offset-by-ten, .column.offset-by-eleven, .column.offset-by-twelve, .column.offset-by-thirteen, .column.offset-by-fourteen, .column.offset-by-fifteen, .columns.offset-by-one, .columns.offset-by-two, .columns.offset-by-three, .columns.offset-by-four, .columns.offset-by-five, .columns.offset-by-six, .columns.offset-by-seven, .columns.offset-by-eight, .columns.offset-by-nine, .columns.offset-by-ten, .columns.offset-by-eleven, .columns.offset-by-twelve, .columns.offset-by-thirteen, .columns.offset-by-fourteen, .columns.offset-by-fifteen {
    padding-left: 0;
  }
}

/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 199, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.container {
  zoom: 1;
}
/* line 194, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 195, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.container:after {
  clear: both;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 203, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.row, .clearfix {
  zoom: 1;
}
/* line 194, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 195, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.row:after, .clearfix:after {
  clear: both;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 206, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_skeleton.scss */
.clear {
  clear: both;
  display: table;
}

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 38, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 45, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 47, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
body {
  line-height: 1;
}

/* line 49, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ol, ul {
  list-style: none;
}

/* line 51, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 54, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 57, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */
/* line 64, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* line 75, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}
/* line 79, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 81, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 82, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 83, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 84, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 85, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 86, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 87, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.subheader {
  color: #777;
}

/* line 89, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
p {
  margin: 0 0 20px 0;
}
/* line 91, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
p img {
  margin: 0;
}
/* line 92, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 95, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
em {
  font-style: italic;
}

/* line 96, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
strong {
  font-weight: bold;
  color: #333;
}

/* line 97, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 100, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 101, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}
/* line 105, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
/* line 109, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 110, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555;
}

/* line 114, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */
/* line 119, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}

/* line 120, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
a:hover, a:focus {
  color: #000;
}

/* line 121, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */
/* line 126, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul {
  list-style: none outside;
}
/* line 128, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}
/* line 129, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul.square {
  list-style: square outside;
}
/* line 130, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul.circle {
  list-style: circle outside;
}
/* line 131, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul.disc {
  list-style: disc outside;
}
/* line 132, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul.large li {
  line-height: 21px;
}

/* line 134, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ol {
  list-style: decimal;
  margin-left: 30px;
}

/* line 135, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul, ol {
  margin-bottom: 20px;
}
/* line 137, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul ul, ul ol, ol ul, ol ol {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}
/* line 139, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
ul ul li, ul ol li, ol ul li, ol ol li {
  margin-bottom: 6px;
}

/* line 142, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}
/* line 144, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
li p {
  line-height: 21px;
}

/* #Images
================================================== */
/* line 150, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* #Buttons
================================================== */
/* line 162, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eeeeee, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: #eeeeee, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee, -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee, -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee, linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 187, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #dddddd, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background: #dddddd, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd, -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd, -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd, linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

/* line 201, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #cccccc, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  background: #cccccc, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc, -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc, -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc, linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
}

/* line 212, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
/* line 220, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */
/* line 229, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
form {
  margin-bottom: 20px;
}

/* line 231, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 237, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}

/* line 250, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
select {
  padding: 0;
}

/* line 255, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 259, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
textarea {
  min-height: 60px;
}

/* line 262, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 266, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
select {
  width: 220px;
}

/* line 268, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 271, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* #Misc
================================================== */
/* line 278, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 279, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 280, ../../../../../sass/extensions/SCSSkeleton/stylesheets/scss/_base.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
