!!! 5
html(lang="en")
  head
    block css
      link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
        link(href="/static/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
          //if IE
            link(href="/static/stylesheets/ie.css", media="screen, projection", rel="stylesheet", type="text/css")
        title My Site - #{title or page.title}
    body
        block header
          header
              a(href="http://pckl.me/") Ravi Kotecha
              block nav
                nav
                  a home
            block content
            block footer
              footer
                p &copy; Ravi Kotecha 2013
            block scripts

