!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(href=url_for('recent_feed'), rel='alternate', title='Recent Changes', type='application/atom+xml')
    block goog
      script(type='text/javascript')
        var _gaq = _gaq || [];
        var pluginUrl =
        '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-599427-14']);
        _gaq.push(['_setDomainName', 'pckl.me']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    - if g.DEBUG
      script(src="http://localhost:9090/static/js/livereload.js")
    block css
      link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
      link(href="/static/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
      //if IE
        link(href="/static/stylesheets/ie.css", media="screen, projection", rel="stylesheet", type="text/css")
      block title
        title #{title} → pckl.me
        meta(property="og:title", content=title)
      block opengraph
        meta(property="og:site_name", content=config.SITE_NAME)
      block headscripts
        //if lt IE9
          script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
      block extrahead

  body
    block main
      #main
        block header
          header
            block nav
              a(href="/") Ravi Kotecha
              nav
                a(href='/short/') shorts
                =" //"
                a(href='/post/') posts
                =" //"
                a(href='/photo/') photos
                =" //"
                a(href='/contact') contact
        hr
        block content
        hr
        footer
          block footer
            .lime
    block scripts
      - assets 'common_js'
        script(src='{{ ASSET_URL }}')
      - endassets
