extends base

block extrahead
  meta(name="robots", content="noindex")

block content
  h3.title='Recruiters'
  :markdown
    Here are some tips if you're interested in working with me.
  
    * Don't call me, I prefer all communication to happen via email or face to face
    * If you send me a pile of job specs and I don't respond, it means I'm not interested. Don't call
    * I am only interested in contract work
    * Job specs should contain a company name and not just _world
      class digital agency_ or _top tier investment bank_, they should
      also include a day rate.
    
    
