extends base

block append css
  link(rel='stylesheet', href='/static/github-pygments.css')

block content
  article.flatpage
    header
      - if date
        time.pubdate(datetime=date)
          span.icon-calendar
          | &nbsp;
          =date

      h1(class='title')= title
