extends base

block content
  .intro
    .avatar
      img(src='/static/images/avatar.jpg')
    h1.title
      ='Full Stack Software Developer'
    // .bio
    //   :markdown
    //     Hacker at large
  hr
  ul
    each post in milestones
      li.index
        a(href='/#{post.path}')=post.title
        - if post.meta.date
          time.pubdate(datetime=post.meta.date)
            span.icon-calendar
            =post.meta.date.strftime('%B %Y')

