extends base


block append scripts
  - assets 'equalheights_js'
    script
      Modernizr.load({
        load: '{{ ASSET_URL }}',
        complete: function(){
            $("figure.photo_index > a > img").equalHeights();
            $("figure.photo_index").equalHeights();
        }
      })
  - endassets

block content
  h1.title=title
  div#photo_index
    each photo in photos
      figure.photo_index
        a(href='/#{photo.path}')
          img(src=photo.sizes['Small'].source)
          figcaption=photo.title

